.nav-link.active {
  font-weight: bold;
  background-color: #343a40;
  color: #ffffff !important;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #495057;
  color: #ffffff !important;
  transition: all 0.3s ease;
}

.nav-item {
  margin-right: 25px;
}

.navbar-nav {
  margin-left: 40px;
}